section
    div(class="menu")
        div(class="menu__mark")
            div(class="menu__mark__img")
            span(class="menu__mark__text") The Menu
        div(class="menu__list")
            div(class="menu__list__item")
                div(class="menu__list__item__caption")
                    span(class="menu__list__item__caption__title") Voluptate cillum fugiat.
                    span(class="menu__list__item__caption__composition") Cheese, tomato, mushrooms, onions.
                div(class="menu__list__item__dash")
                div(class="menu__list__item__price")
                    span 50$
            div(class="menu__list__item")
                div(class="menu__list__item__caption")
                    span(class="menu__list__item__caption__title") Voluptate cillum fugiat.
                    span(class="menu__list__item__caption__composition") Cheese, tomato, mushrooms, onions.
                div(class="menu__list__item__dash")
                div(class="menu__list__item__price")
                    span 50$
            div(class="menu__list__item")
                div(class="menu__list__item__caption")
                    span(class="menu__list__item__caption__title") Voluptate cillum fugiat.
                    span(class="menu__list__item__caption__composition") Cheese, tomato, mushrooms, onions.
                div(class="menu__list__item__dash")
                div(class="menu__list__item__price")
                    span 50$
            div(class="menu__list__item")
                div(class="menu__list__item__caption")
                    span(class="menu__list__item__caption__title") Voluptate cillum fugiat.
                    span(class="menu__list__item__caption__composition") Cheese, tomato, mushrooms, onions.
                div(class="menu__list__item__dash")
                div(class="menu__list__item__price")
                    span 50$
            div(class="menu__list__item")
                div(class="menu__list__item__caption")
                    span(class="menu__list__item__caption__title") Voluptate cillum fugiat.
                    span(class="menu__list__item__caption__composition") Cheese, tomato, mushrooms, onions.
                div(class="menu__list__item__dash")
                div(class="menu__list__item__price")
                    span 50$
            div(class="menu__list__item")
                div(class="menu__list__item__caption")
                    span(class="menu__list__item__caption__title") Voluptate cillum fugiat.
                    span(class="menu__list__item__caption__composition") Cheese, tomato, mushrooms, onions.
                div(class="menu__list__item__dash")
                div(class="menu__list__item__price")
                    span 50$
            div(class="menu__list__item")
                div(class="menu__list__item__caption")
                    span(class="menu__list__item__caption__title") Voluptate cillum fugiat.
                    span(class="menu__list__item__caption__composition") Cheese, tomato, mushrooms, onions.
                div(class="menu__list__item__dash")
                div(class="menu__list__item__price")
                    span 50$
        div(class="menu__load-more")
            button(class="menu__load-more__btn") load more
            div(class="menu__load-more__dash")
            img(class="menu__load-more__drop-down" src="../assets/img/drop-down.svg", alt="Drop down arrow")