.billboard {
	background: url('../assets/img/billboard-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 550px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-bottom: 4px solid $color-red;

	&__caption {
		display: flex;
		align-items: center;
		justify-content: center;

		&__text {
			color: $color-white;
			margin: 0 20px;
			font-family: 'Balsamiq Sans', cursive;
		}
	}

	&__title {
		font-size: 48px;
		font-family: 'Dancing Script', cursive;
		color: $color-white;
	}
}
