.gallery {
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: $grid-max-widht;
	margin-top: 100px;

	&__title {
		width: 100%;
		margin-bottom: 80px;

		& > h3 {
			font-weight: 400;
			text-transform: uppercase;
		}
	}

	&__images {
		display: flex;
		flex-wrap: wrap;

		&__left {
			height: 400px;
			width: 350px;
		}

		&__center,
		&__right {
			display: flex;
			flex-direction: column;
			height: 200px;
		}
	}
}

@media only screen and (max-width: 1060px) {
	.gallery {
		&__images {
			margin: 0 auto;
			&__left {
				height: 300px;
				width: 280px;

				& > img {
					height: 300px;
					width: 280px;
				}
			}

			&__center,
			&__right {
				display: flex;
				flex-direction: column;
				height: 150px;
				width: 220px;

				& > img {
					height: 150px;
					width: 220px;
				}
			}
		}
	}
}
