.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: $grid-max-widht;
	width: 100%;
	&__mark {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		&__img {
			border-width: 50px 55px 15px;
			border-style: solid;
			border-color: $color-red $color-red transparent;
		}

		&__text {
			position: absolute;
			top: 15px;
			color: $color-white;
		}
	}

	&__list {
		margin-top: 80px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&__item {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 60px;

			&__caption {
				display: flex;
				flex-direction: column;
				&__title {
					color: $text-primary-cl;
					font-size: 16px;
				}

				&__composition {
					color: $text-light-cl;
					font-size: 12px;
					font-style: italic;
				}
			}

			&__dash {
				width: 190px;
				height: 1px;
				background: $color-dash;
				margin: 0 25px;
			}
		}
	}

	&__load-more {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		border: 1px solid $text-light-cl;
		border-radius: 2px;
		&:hover {
			background: rgba(226, 226, 226, 0.3);
		}

		&,
		& > * {
			cursor: pointer;
		}

		&__dash {
			width: 1px;
			height: 12px;
			background: $text-light-cl;
			margin: 0 12px;
		}

		&__btn {
			background: none;
			border: none;
			outline: none;
			color: $text-light-cl;
			text-transform: uppercase;
		}

		&__drop-down {
			width: 12px;
			height: 10px;
		}
	}
}

@media only screen and (max-width: 1060px) {
	.menu {
		&__list {
			justify-content: center;
		}
	}
}
