$grid-max-widht: 1100px;
$grid-margin: 0 20px;

$color-primary: #2c2c2c;
$color-white: #f5f5f5;
$color-red: rgb(243, 73, 73);
$color-dash: #e3e1e1;

$text-primary-cl: #555555;
$text-secondary-cl: #3d3d3d;
$text-light-cl: #b7b7b7;
$dots-bg: #dedede;
$active-dots-bg: #9b9b9b;

$star-bg: #bdbdbd;
$active-star-bg: #f1df1a;
