section(class="billboard")
    div(class="container")
        div(class="billboard__title") This Template Is Awesome
        div(class="break")
        div(class="billboard__caption") 
            div(class="dash")
            div(class="billboard__caption__text") 
                span resto restaurant home page website template
            div(class="dash")