section
    div(class="featured-dishes")
        div(class="featured-dishes__top")
            div(class="featured-dishes__top__title")
                h3 Featured Dishes
            div(class="featured-dishes__top__dots")
                div(class="dots active")
                div(class="dots")
                div(class="dots")
        div(class="featured-dishes__cards")
            div(class="featured-dishes__cards__item")
                img(class="featured-dishes__cards__item__img" src="../assets/img/dishes/1.png", alt="Dishes image")
                div(class="featured-dishes__cards__item__caption") 
                    span(class="featured-dishes__cards__item__caption__text") Fugiat nulla sint
                    span(class="featured-dishes__cards__item__caption__price") $30
                div(class="featured-dishes__cards__item__raiting")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star")
            div(class="featured-dishes__cards__item")
                img(class="featured-dishes__cards__item__img" src="../assets/img/dishes/2.png", alt="Dishes image")
                div(class="featured-dishes__cards__item__caption") 
                    span(class="featured-dishes__cards__item__caption__text") Fugiat nulla sint
                    span(class="featured-dishes__cards__item__caption__price") $30
                div(class="featured-dishes__cards__item__raiting")
                    div(class="raiting-star active")
                    div(class="raiting-star ")
                    div(class="raiting-star ")
                    div(class="raiting-star ")
                    div(class="raiting-star")
            div(class="featured-dishes__cards__item")
                img(class="featured-dishes__cards__item__img" src="../assets/img/dishes/3.png", alt="Dishes image")
                div(class="featured-dishes__cards__item__caption") 
                    span(class="featured-dishes__cards__item__caption__text") Fugiat nulla sint
                    span(class="featured-dishes__cards__item__caption__price") $30
                div(class="featured-dishes__cards__item__raiting")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star ")
                    div(class="raiting-star ")
                    div(class="raiting-star")
            div(class="featured-dishes__cards__item")
                img(class="featured-dishes__cards__item__img" src="../assets/img/dishes/4.png", alt="Dishes image")
                div(class="featured-dishes__cards__item__caption") 
                    span(class="featured-dishes__cards__item__caption__text") Fugiat nulla sint
                    span(class="featured-dishes__cards__item__caption__price") $30
                div(class="featured-dishes__cards__item__raiting")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
            div(class="featured-dishes__cards__item")
                img(class="featured-dishes__cards__item__img" src="../assets/img/dishes/3.png", alt="Dishes image")
                div(class="featured-dishes__cards__item__caption") 
                    span(class="featured-dishes__cards__item__caption__text") Fugiat nulla sint
                    span(class="featured-dishes__cards__item__caption__price") $30
                div(class="featured-dishes__cards__item__raiting")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star")
                    div(class="raiting-star")
            div(class="featured-dishes__cards__item")
                img(class="featured-dishes__cards__item__img" src="../assets/img/dishes/2.png", alt="Dishes image")
                div(class="featured-dishes__cards__item__caption") 
                    span(class="featured-dishes__cards__item__caption__text") Fugiat nulla sint
                    span(class="featured-dishes__cards__item__caption__price") $30
                div(class="featured-dishes__cards__item__raiting")
                    div(class="raiting-star active")
                    div(class="raiting-star ")
                    div(class="raiting-star ")
                    div(class="raiting-star ")
                    div(class="raiting-star ")
            div(class="featured-dishes__cards__item")
                img(class="featured-dishes__cards__item__img" src="../assets/img/dishes/4.png", alt="Dishes image")
                div(class="featured-dishes__cards__item__caption") 
                    span(class="featured-dishes__cards__item__caption__text") Fugiat nulla sint
                    span(class="featured-dishes__cards__item__caption__price") $30
                div(class="featured-dishes__cards__item__raiting")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star ")
                    div(class="raiting-star ")
                    div(class="raiting-star ")
            div(class="featured-dishes__cards__item")
                img(class="featured-dishes__cards__item__img" src="../assets/img/dishes/1.png", alt="Dishes image")
                div(class="featured-dishes__cards__item__caption") 
                    span(class="featured-dishes__cards__item__caption__text") Fugiat nulla sint
                    span(class="featured-dishes__cards__item__caption__price") $30
                div(class="featured-dishes__cards__item__raiting")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star ")
            div(class="featured-dishes__cards__item")
                img(class="featured-dishes__cards__item__img" src="../assets/img/dishes/3.png", alt="Dishes image")
                div(class="featured-dishes__cards__item__caption") 
                    span(class="featured-dishes__cards__item__caption__text") Fugiat nulla sint
                    span(class="featured-dishes__cards__item__caption__price") $30
                div(class="featured-dishes__cards__item__raiting")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
            div(class="featured-dishes__cards__item")
                img(class="featured-dishes__cards__item__img" src="../assets/img/dishes/4.png", alt="Dishes image")
                div(class="featured-dishes__cards__item__caption") 
                    span(class="featured-dishes__cards__item__caption__text") Fugiat nulla sint
                    span(class="featured-dishes__cards__item__caption__price") $30
                div(class="featured-dishes__cards__item__raiting")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star ")
            div(class="featured-dishes__cards__item")
                img(class="featured-dishes__cards__item__img" src="../assets/img/dishes/2.png", alt="Dishes image")
                div(class="featured-dishes__cards__item__caption") 
                    span(class="featured-dishes__cards__item__caption__text") Fugiat nulla sint
                    span(class="featured-dishes__cards__item__caption__price") $30
                div(class="featured-dishes__cards__item__raiting")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star ")
                    div(class="raiting-star ")
            div(class="featured-dishes__cards__item")
                img(class="featured-dishes__cards__item__img" src="../assets/img/dishes/3.png", alt="Dishes image")
                div(class="featured-dishes__cards__item__caption") 
                    span(class="featured-dishes__cards__item__caption__text") Fugiat nulla sint
                    span(class="featured-dishes__cards__item__caption__price") $30
                div(class="featured-dishes__cards__item__raiting")
                    div(class="raiting-star active")
                    div(class="raiting-star active")
                    div(class="raiting-star ")
                    div(class="raiting-star ")
                    div(class="raiting-star ")