footer
    div(class="footer")
        div(class="footer__first-adress")
            span New York Restaurant 
            span(class="font-lighter") 3926 Anmoore Road 
            span(class="font-lighter") New York, NY 10014 
            span 718-749-1714
        div(class="footer__second-adress")
            span France Restaurant 
            span(class="font-lighter") 68, rue  de la Couronne 
            span(class="font-lighter") 75002 PARIS 
            span 02.94.23.69.56
        div(class="footer__menu")
            span Blog 
            span Careers 
            span Privacy Policy 
            span Contact
        div(class="footer__logo")
            div(class="footer__logo__img")
                img(src="../assets/img/logo-white.png" alt="Logo company")
            span(class="font-lighter") © All Rights Reserved 2014. 
            div
                span(class="font-lighter") Find  More at 
                span Pixelhint.com