section
    div(class="gallery")
        div(class="gallery__title") 
            h3 The Gallery
        div(class="gallery__images")
            div(class="gallery__images__left")
                img(src="../assets/img/gallery/1.png", alt="Gallery image 1", height="400px" width="350px")
            div(class="gallery__images__center")
                img(src="../assets/img/gallery/2.png", alt="Gallery image 2" height="200px" width="350px")
                img(src="../assets/img/gallery/3.png", alt="Gallery image 3" height="200px" width="350px")
            div(class="gallery__images__right")
                img(src="../assets/img/gallery/4.png", alt="Gallery image 4" height="200px" width="320px")
                img(src="../assets/img/gallery/5.png", alt="Gallery image 5" height="200px" width="320px")