header
    div(class="header")
        div(class="header__logo")
            img(src="../assets/img/logo.png", alt="Logo image")
        nav(class="nav")
            ul(class="nav__list")
                li(class="nav__item")
                    a(href="#" class="nav__item__link")  Our Story
                li(class="nav__item")
                    a(href="#" class="nav__item__link") Menu
                li(class="nav__item") 
                    a(href="#" class="nav__item__link") Reservations
                li(class="nav__item") 
                    a(href="#" class="nav__item__link") News
                li(class="nav__item") 
                    a(href="#" class="nav__item__link") Rviews