<!DOCTYPE html>
html(lang="eu")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap" rel="stylesheet") 
        link(href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet")
        title Resto landing
    body    
    include sections/header
    include sections/billboard
    include sections/menu
    include sections/featureDishes
    include sections/gallery
    include sections/footer